<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.18.1/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<html data-theme="emerald">

<div id="app" class="container-fluid mx-auto bg-base-200">
    <div class="h-10"></div>
    <div class="text-center">
        <h2 class="text-center text-6xl mb-10">YES or NO</h2>
        <div class="mb-2">
            <label for="subject" class="mr-10">투표주제</label>
            <input type="text" id="subject" maxlength="50" class="input input-bordered input-primary w-full max-w-xs" v-model="subject">
        </div>
        <div class="mb-5">
            <label for="password" class="mr-10">비밀번호</label>
            <input type="password" id="psssword" class="input input-bordered input-primary w-full max-w-xs" v-model="password" @keypress.enter="createVote">
        </div>
        <button class="btn btn-primary" @click="createVote">투표 등록</button>
    </div>
    <div class="divider my-8">Vote Now!</div>
    <div class="flex flex-wrap justify-center">
        <div v-for="vote in votes" :key="vote.id" class="card w-96 bg-base-100 shadow-xl m-5  hover:shadow-2xl">
            <div class="card-body break-all">
                <h2 class="card-title text-center" v-text="vote.id"></h2>
                <h2 class="card-title" v-text="vote.subject"></h2>
                <div class="flex text-center">
                    <div class="stat">
                        <div class="stat-title">YES</div>
                        <div class="stat-value my-5" v-text="vote.yes"></div>
                        <button v-if="vote.is_active" @click="submitYesVote(vote.id)" class="btn">YES</button><br>
                    </div>
                    <div class="stat">
                        <div class="stat-title">NO</div>
                        <div class="stat-value my-5" v-text="vote.no"></div>
                        <button v-if="vote.is_active" @click="submitNoVote(vote.id)" class="btn">NO</button><br>
                    </div>
                </div>
                <div class="card-actions justify-center">
                    <div v-if="vote.is_active">
                        <button @click="checkFinishiVote(vote.id, vote.password)" class="btn btn-xs btn-accent">투표 종료</button>
                    </div>
                    <div v-else>
                        <p class="my-5 text-accent">종료된 투표입니다.</p>
                    </div>
                </div>
            </div>
            <p class="text-xs mr-5 mb-5 text-right" v-text="vote.created"></p>
        </div>
    </div>
    <div class="h-20"></div>
</div>

<script>
  const csrftoken = Cookies.get('csrftoken');
  const { createApp } = Vue

  createApp({
    data() {
      return {
        votes: [],
        subject: '',
        password: '',
        api: 'https://youcanvote.herokuapp.com/api/vote/'
      }
    },
    mounted() {
        this.getActiveVoteList()
    },
    methods: {
        async createVote() {
            try {
                let body = {
                    "subject": this.subject,
                    "password": this.password
                }
                const response = await axios.post(this.api, body)
                this.getActiveVoteList()
                this.subject = ''
                this.password = ''
                alert('투표가 등록되었습니다.')
            } catch(error) {
                console.log(error)
                alert('투표 등록에 실패하였습니다.')
            }
        },
        async getActiveVoteList() {
            try {
                const response = await axios.get(this.api,)
                this.votes = response.data;
                console.log(response)
            } catch(error) {
                console.log(error);
            }
        },
        async submitYesVote(id) {
            try {
                let body = {};
                const nowVote = await axios.get(`${this.api}${id}/`)
                body = {
                    "yes": nowVote.data.yes + 1
                }
                option = {
                    headers: {'X-CSRFToken': csrftoken},
                }
                const respose = await axios.patch(`${this.api}${id}/`, body, option)
                this.getActiveVoteList()
                alert('투표가 완료되었습니다.')
            } catch(error) {
                console.log(error);
                alert('투표에 실패하였습니다.')
            }
        },
        async submitNoVote(id) {
            try {
                let body = {}
                const nowVote = await axios.get(`${this.api}${id}/`)
                body = {
                    "no": nowVote.data.no + 1
                }
                const respose = await axios.patch(`${this.api}${id}/`, body)
                this.getActiveVoteList()
                alert('투표가 완료되었습니다.')
            } catch(error) {
                console.log(error)
                alert('투표에 실패하였습니다.')
            }
        },
        checkFinishiVote(id, password) {
            const input = prompt('비밀번호를 입력해주세요.')
            if (input === password) {
                this.finishVote(id)
            } else {
                alert('비밀번호가 일치하지 않습니다.')
            }
        },
        async finishVote(id) {
            try {
                const body = {
                    "is_active": false
                }
                const respose = await axios.patch(`${this.api}${id}/`, body)
                this.getActiveVoteList()
                alert('투표가 종료되었습니다.')
            } catch(error) {
                console.log(error)
                alert('투표 종료에 실패하였습니다.')
            }
        }
    }
  }).mount('#app')
</script>

</html>
